@font-face {
  font-family: "Joy Neon";
  src: url("JoyNeon.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Joy Neon Hollow";
  src: url("JoyNeonHollow.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Joy Neon Script";
  src: url("JoyNeonScript.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
